<!-- start: #footer -->
<footer id="footer">
	<div class="grid-container grid-parent">
		<div class="copyright">
			<p>Epigram, COPYRIGHT &copy2018</p>
				</div>

				<!-- start: .secondary-nav-container -->
	<div id="secondary-nav-container" class="menu-header-menu-container">
		<ul id="secondary-nav" class="nav">
	<!-- Need to reorder menu items as well  -->
		<li id="menu-item-1">
			<a href="/get-involved/">Get Involved</a>
		</li>
	  
      <li id="menu-item-3">
				<a href="/read-the-paper/">Read The Paper</a>
			</li>
	  <li id="menu-item-2">
				<a href="/meet-the-team/">Team</a>
			</li>
      <li id="menu-item-4">
				<a href="/advertise-with-us/">Advertise</a>
			</li>
		<li id="menu-item-5">
			<a href="/about-us/">About</a>
		</li>
	  
   	</ul>
	 </div>
	<!-- end: .secondary-nav-container -->
		</div>

	
		
		<a href="javascript:void(0)" id="back-to-top">JUMP TO TOP<i class="fa fa-chevron-up"></i></a>
	</div>
	<!--<h2 class="blog-description">{{@site.description}}</h2>-->

	
	
</footer>
<!-- end: #footer -->
